In [2]:
import pandas as pd
import pandas as pd
import re
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [4]:
df = pd.read_csv("../data/raw/imdb/data.csv")
df.head()

                                              review sentiment
0  I have not yet decided whether this will repla...  negative
1  Barbara Payton is the suppose-to-be sultry sex...  negative
2  A woman, Mujar (Marta Belengur) enters a resta...  positive
3  In 1989 here in NZ wrestling was somewhat of a...  negative
4  I was just a bit young for this one, but I had...  positive

In [15]:
def lemmatization(text):
    """Lemmatize the text."""
    lemmatizer = WordNetLemmatizer()
    text = text.split()
    text = [lemmatizer.lemmatize(word) for word in text]
    return " ".join(text)

def remove_stop_words(text):
    """Remove stop words from the text."""
    stop_words = set(stopwords.words("english"))
    text = [word for word in str(text).split() if word not in stop_words]
    return " ".join(text)

def removing_numbers(text):
    """Remove numbers from the text."""
    text = ''.join([char for char in text if not char.isdigit()])
    return text

def lower_case(text):
    """Convert text to lower case."""
    text = text.split()
    text = [word.lower() for word in text]
    return " ".join(text)

def removing_punctuations(text):
    """Remove punctuations from the text."""
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
    text = text.replace('Ø›', "")
    text = re.sub('\s+', ' ', text).strip()
    return text

def removing_urls(text):
    """Remove URLs from the text."""
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)

def normalize_text(df):
    """Normalize the text data."""
    try:
        df['review'] = df['review'].apply(lower_case)
        df['review'] = df['review'].apply(remove_stop_words)
        df['review'] = df['review'].apply(removing_numbers)
        df['review'] = df['review'].apply(removing_punctuations)
        df['review'] = df['review'].apply(removing_urls)
        df['review'] = df['review'].apply(lemmatization)
        return df
    except Exception as e:
        print(f'Error during text normalization: {e}')
        raise

In [16]:
df = normalize_text(df)
df.head()

                                                  review sentiment
13991  yet decided whether replace anaconda the worst...  negative
30939  barbara payton suppose to be sultry sexy young...  negative
8171   woman mujar marta belengur enters restaurant o...  positive
38083  nz wrestling somewhat mega hype phenom steerin...  negative
9819   bit young one see it there s excellent music m...  positive